.DS_Store
src/platforms
src/hooks
src/plugins/android.json
src/plugins/ios.json
src/plugins/browser.json
src/node_modules
.settings
.project
#no binaries
*.apk
*.ipa
src/www/i18n/i18n_en.properties
src/tests/ui/screenshot_*